<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
   <label>thumbnail</label>
    <input type="file" placeholder="thumbnail" name="thumbnail"><br><br>
    <label>photos</label>
    <input type="file" placeholder="photos" name="photos"><br><br>
    <label>description</label>
    <input type="text" placeholder="description" name="description"><br><br>
    <label>views</label>
    <input type="text" placeholder="views" name="views"><br><br>
    <label>channel</label>
    <input type="text" placeholder="thumbnail" name="channel"><br><br>
    <label>uploaded</label>
    <input type="text" placeholder="thumbnail" name="uploaded"><br><br>
    <input type="submit">
    </form>

</body>
</html>